/* 通用樣式 */
body {
  color: var(--Neutral-900);
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: var(--Neutral-900);
  display: block;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.banner {
  background: var(--Primary-200);
}

/* 外層 */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* 標題及文字樣式 */
.h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.h6 {
  font-weight: 700;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .h3-md {
    font-size: 28px;
  }
  .h4-md {
    font-size: 24px;
  }
  .h5-md {
    font-size: 20px;
  }
  .h6-md {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .h3-sm {
    font-size: 28px;
  }
  .h4-sm {
    font-size: 24px;
  }
  .h5-sm {
    font-size: 20px;
  }
  .h6-sm {
    font-size: 16px;
  }
}

.text-white {
  color: var(--Neutral-White);
}

.text-p400 {
  color: var(--Primary-400);
}

.text-400 {
  font-weight: 400;
}
