:root {
  --Neutral-900: #212529;
  --Neutral-600: #6c757d;
  --Neutral-700: #495057;
  --Neutral-300: #dee2e6;
  --Neutral-100: #f8f9fa;
  --Neutral-White: #ffffff;
  --Primary-400: #57a203;
  --Primary-300: #c0fa73;
  --Primary-200: #e8fec5;
  --Functional-Danger-300: #d74f4f;
}
